In [126]:
import os
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Define a function that imports all the data from the provided csv files

In [125]:
csv_paths = glob.glob("data/*.csv")
csv_filenames = [os.path.splitext(os.path.basename(x))[0] for x in csv_paths]

def load_data_from_csv():
    """Loads the csv files to pandas DataFrames and saves
    them in a dictionary with their filenames as keys"""
    data = dict()
    for csv_filename, csv_path in zip(csv_filenames, csv_paths):
        data[csv_filename] = pd.read_csv(csv_path)
    return data

# Load the data to a Dictionary
data = load_data_from_csv()

Inspect the data, the schema is shown below:

<img src="docs/schema.png">

In [64]:
for key, values in data.items():
    print(key, "\n")
    print(values.head(), "\n")
    print(values.describe(), "\n")

app_events

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

           event_id        app_id  is_installed     is_active
count  3.247307e+07  3.247307e+07    32473067.0  3.247307e+07
mean   1.625564e+06  1.182779e+18           1.0  3.921094e-01
std    9.384682e+05  5.360173e+18           0.0  4.882209e-01
min    2.000000e+00 -9.221157e+18           1.0  0.000000e+00
25%    8.134720e+05 -3.474568e+18           1.0  0.000000e+00
50%    1.626907e+06  1.387044e+18           1.0  0.000000e+00
75%    2.441106e+06  6.043001e+18           1.0  1.000000e+00
max    3.252948e+06  9.222488e+18           1.0  1.000000e+00

app_labels

                app_id  label_id
0  7324884708820027918       251
1 -4494216993218550286       251
2  6058196446775239644       406
3  6058196446775239644       407
4  8694625920731541625       406

             app_id       label_id
count  4.599430e+05  459943.000000
mean   1.912461e+17     664.849749
std    5.269442e+18     192.797736
min   -9.223281e+18       2.000000
25%   -4.305882e+18     548.000000
50%    1.083204e+17     714.000000
75%    4.830475e+18     795.000000
max    9.223318e+18    1021.000000

chinese_to_english_brand

  chinese_brand english_brand
0            三星       samsung
1            天语        Ktouch
2            海信       hisense
3            联想        lenovo
4            欧比           obi

       chinese_brand english_brand
count             55            55
unique            55            54
top              艾优尼          epai
freq               1             2

events

   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
3         4 -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
4         5 -5373797595892518570  2016-05-01 00:07:18     115.88     28.66

           event_id     device_id     longitude      latitude
count  3.252950e+06  3.252950e+06  3.252950e+06  3.252950e+06
mean   1.626476e+06 -2.685140e+16  7.796192e+01  2.162949e+01
std    9.390459e+05  5.301236e+18  5.405801e+01  1.569697e+01
min    1.000000e+00 -9.222957e+18 -1.800000e+02 -3.843000e+01
25%    8.132382e+05 -4.616259e+18  0.000000e+00  0.000000e+00
50%    1.626476e+06 -1.729953e+16  1.129500e+02  2.802000e+01
75%    2.439713e+06  4.549750e+18  1.172100e+02  3.407000e+01
max    3.252950e+06  9.222540e+18  1.747600e+02  5.994000e+01

gender_age_test

             device_id
0  1002079943728939269
1 -1547860181818787117
2  7374582448058474277
3 -6220210354783429585
4 -5893464122623104785

          device_id
count  1.120710e+05
mean  -2.367461e+16
std    5.331855e+18
min   -9.223322e+18
25%   -4.661036e+18
50%   -3.107321e+16
75%    4.581985e+18
max    9.223069e+18

gender_age_train

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

          device_id           age
count  7.464500e+04  74645.000000
mean  -7.491354e+14     31.410342
std    5.327150e+18      9.868735
min   -9.223067e+18      1.000000
25%   -4.617367e+18     25.000000
50%   -1.841362e+16     29.000000
75%    4.636656e+18     36.000000
max    9.222849e+18     96.000000

label_categories

   label_id           category
0         1                NaN
1         2     game-game type
2         3   game-Game themes
3         4     game-Art Style
4         5  game-Leisure time

          label_id
count   930.000000
mean    517.080645
std     297.858790
min       1.000000
25%     251.250000
50%     523.500000
75%     778.750000
max    1021.000000

phone_brand_device_model

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

          device_id
count  1.872450e+05
mean  -1.426513e+16
std    5.330527e+18
min   -9.223322e+18
25%   -4.645265e+18
50%   -2.619149e+16
75%    4.606568e+18
max    9.223069e+18

sample_submission

             device_id    F23-  F24-26  F27-28  F29-32  F33-42    F43+  \
0  1002079943728939269  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
1 -1547860181818787117  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
2  7374582448058474277  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
3 -6220210354783429585  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
4 -5893464122623104785  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833

     M22-  M23-26  M27-28  M29-31  M32-38    M39+
0  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
1  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
2  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
3  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
4  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833

          device_id          F23-        F24-26        F27-28        F29-32  \
count  1.120710e+05  1.120710e+05  1.120710e+05  1.120710e+05  1.120710e+05
mean  -2.367461e+16  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
std    5.331855e+18  2.775570e-17  2.775570e-17  2.775570e-17  2.775570e-17
min   -9.223322e+18  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
25%   -4.661036e+18  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
50%   -3.107321e+16  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
75%    4.581985e+18  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
max    9.223069e+18  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02

             F33-42          F43+          M22-        M23-26        M27-28  \
count  1.120710e+05  1.120710e+05  1.120710e+05  1.120710e+05  1.120710e+05
mean   8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
std    2.775570e-17  2.775570e-17  2.775570e-17  2.775570e-17  2.775570e-17
min    8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
25%    8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
50%    8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
75%    8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
max    8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02

             M29-31        M32-38          M39+
count  1.120710e+05  1.120710e+05  1.120710e+05
mean   8.330000e-02  8.330000e-02  8.330000e-02
std    2.775570e-17  2.775570e-17  2.775570e-17
min    8.330000e-02  8.330000e-02  8.330000e-02
25%    8.330000e-02  8.330000e-02  8.330000e-02
50%    8.330000e-02  8.330000e-02  8.330000e-02
75%    8.330000e-02  8.330000e-02  8.330000e-02
max    8.330000e-02  8.330000e-02  8.330000e-02

First replace the chinese brands with their english names

In [127]:
# Join chinese brand names to their english equivalents
phone_brand_device_model = pd.merge(data["phone_brand_device_model"],
                                    data["chinese_to_english_brand"],
                                    left_on="phone_brand", right_on="chinese_brand", how="left")

# Fill nans for brands already in english
phone_brand_device_model["brand"] =\
    phone_brand_device_model["brand"].where(phone_brand_device_model["brand"].str.isalpha(),
                                                    phone_brand_device_model["phone_brand"].str.lower())
# We will just work with device brand for the time being
device_data = phone_brand_device_model[["device_id", "brand"]]
device_data

                  device_id    brand
0      -8890648629457979026   xiaomi
1       1277779817574759137   xiaomi
2       5137427614288105724  samsung
3       3669464369358936369    sugar
4      -5019277647504317457  samsung
...                     ...      ...
187240  7979541072208733273   xiaomi
187241  -187404680852357705   xiaomi
187242 -2718274279595622821   xiaomi
187243  3098391762071677791     vivo
187244  7540390258631417003     vivo

[187245 rows x 2 columns]

We'll proceed to join the device brand data to the test data

In [135]:
data["gender_age_train"]["group"].sort_values().unique()

array(['F23-', 'F24-26', 'F27-28', 'F29-32', 'F33-42', 'F43+', 'M22-',
       'M23-26', 'M27-28', 'M29-31', 'M32-38', 'M39+'], dtype=object)

In [128]:
combined_data = data["gender_age_train"]
combined_data = combined_data.merge(device_data, on="device_id")
combined_data

                 device_id gender  age   group   brand
0     -8076087639492063270      M   35  M32-38  xiaomi
1     -2897161552818060146      M   35  M32-38  xiaomi
2     -8260683887967679142      M   35  M32-38  xiaomi
3     -4938849341048082022      M   30  M29-31  xiaomi
4       245133531816851882      M   30  M29-31  xiaomi
...                    ...    ...  ...     ...     ...
74834  4682031842235089751      M   30  M29-31  xiaomi
74835 -9178703742877135986      M   30  M29-31  xiaomi
74836   180946546684162312      M   20    M22-  xiaomi
74837  1390702386071991851      M   37  M32-38  huawei
74838    89181010588227347      M   25  M23-26  xiaomi

[74839 rows x 5 columns]

Put together the event data before merging all

Merge