In [2]:
import os
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Define a function that imports all the data from the provided csv files

In [3]:
csv_paths = glob.glob("data/*.csv")
csv_filenames = [os.path.splitext(os.path.basename(x))[0] for x in csv_paths]

def load_data_from_csv():
    """Loads the csv files to pandas DataFrames and saves
    them in a dictionary with their filenames as keys"""
    data = dict()
    for csv_filename, csv_path in zip(csv_filenames, csv_paths):
        data[csv_filename] = pd.read_csv(csv_path)
    return data

# Load the data to a Dictionary
data = load_data_from_csv()

Inspect the data, the schema is shown below:

<img src="docs/schema.png">

In [4]:
for key, values in data.items():
    print(key, "\n")
    print(values.head(), "\n")
    print(values.describe(), "\n")

app_categories

  grouped_categories  Unnamed: 1
0              Games           1
1           Business           2
2          Education           3
3          Lifestyle           4
4          Utilities           5

       Unnamed: 1
count   19.000000
mean    10.000000
std      5.627314
min      1.000000
25%      5.500000
50%     10.000000
75%     14.500000
max     19.000000

app_events

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

           event_id        app_id  is_installed     is_active
count  3.247307e+07  3.247307e+07    32473067.0  3.247307e+07
mean   1.625564e+06  1.182779e+18           1.0  3.921094e-01
std    9.384682e+05  5.360173e+18           0.0  4.882209e-01
min    2.000000e+00 -9.221157e+18           1.0  0.000000e+00
25%    8.134720e+05 -3.474568e+18           1.0  0.000000e+00
50%    1.626907e+06  1.387044e+18           1.0  0.000000e+00
75%    2.441106e+06  6.043001e+18           1.0  1.000000e+00
max    3.252948e+06  9.222488e+18           1.0  1.000000e+00

app_labels

                app_id  label_id
0  7324884708820027918       251
1 -4494216993218550286       251
2  6058196446775239644       406
3  6058196446775239644       407
4  8694625920731541625       406

             app_id       label_id
count  4.599430e+05  459943.000000
mean   1.912461e+17     664.849749
std    5.269442e+18     192.797736
min   -9.223281e+18       2.000000
25%   -4.305882e+18     548.000000
50%    1.083204e+17     714.000000
75%    4.830475e+18     795.000000
max    9.223318e+18    1021.000000

chinese_to_english_brand

  chinese_brand    brand
0            三星  samsung
1            天语   Ktouch
2            海信  hisense
3            联想   lenovo
4            欧比      obi

       chinese_brand brand
count             60    60
unique            60    59
top               梦米  epai
freq               1     2

events

   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
3         4 -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
4         5 -5373797595892518570  2016-05-01 00:07:18     115.88     28.66

           event_id     device_id     longitude      latitude
count  3.252950e+06  3.252950e+06  3.252950e+06  3.252950e+06
mean   1.626476e+06 -2.685140e+16  7.796192e+01  2.162949e+01
std    9.390459e+05  5.301236e+18  5.405801e+01  1.569697e+01
min    1.000000e+00 -9.222957e+18 -1.800000e+02 -3.843000e+01
25%    8.132382e+05 -4.616259e+18  0.000000e+00  0.000000e+00
50%    1.626476e+06 -1.729953e+16  1.129500e+02  2.802000e+01
75%    2.439713e+06  4.549750e+18  1.172100e+02  3.407000e+01
max    3.252950e+06  9.222540e+18  1.747600e+02  5.994000e+01

gender_age_test

             device_id
0  1002079943728939269
1 -1547860181818787117
2  7374582448058474277
3 -6220210354783429585
4 -5893464122623104785

          device_id
count  1.120710e+05
mean  -2.367461e+16
std    5.331855e+18
min   -9.223322e+18
25%   -4.661036e+18
50%   -3.107321e+16
75%    4.581985e+18
max    9.223069e+18

gender_age_train

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

          device_id           age
count  7.464500e+04  74645.000000
mean  -7.491354e+14     31.410342
std    5.327150e+18      9.868735
min   -9.223067e+18      1.000000
25%   -4.617367e+18     25.000000
50%   -1.841362e+16     29.000000
75%    4.636656e+18     36.000000
max    9.222849e+18     96.000000

label_categories

   label_id           category
0         1                NaN
1         2     game-game type
2         3   game-Game themes
3         4     game-Art Style
4         5  game-Leisure time

          label_id
count   930.000000
mean    517.080645
std     297.858790
min       1.000000
25%     251.250000
50%     523.500000
75%     778.750000
max    1021.000000

label_categories_grouped

   label_id           category  Unnamed: 2
0         1                NaN         NaN
1         2     game-game type         1.0
2         3   game-Game themes         1.0
3         4     game-Art Style         1.0
4         5  game-Leisure time         1.0

          label_id  Unnamed: 2
count   930.000000  148.000000
mean    517.080645    2.945946
std     297.858790    2.903865
min       1.000000    1.000000
25%     251.250000    1.000000
50%     523.500000    1.000000
75%     778.750000    7.000000
max    1021.000000   13.000000

phone_brand_device_model

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

          device_id
count  1.872450e+05
mean  -1.426513e+16
std    5.330527e+18
min   -9.223322e+18
25%   -4.645265e+18
50%   -2.619149e+16
75%    4.606568e+18
max    9.223069e+18

sample_submission

             device_id    F23-  F24-26  F27-28  F29-32  F33-42    F43+  \
0  1002079943728939269  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
1 -1547860181818787117  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
2  7374582448058474277  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
3 -6220210354783429585  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
4 -5893464122623104785  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833

     M22-  M23-26  M27-28  M29-31  M32-38    M39+
0  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
1  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
2  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
3  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833
4  0.0833  0.0833  0.0833  0.0833  0.0833  0.0833

          device_id          F23-        F24-26        F27-28        F29-32  \
count  1.120710e+05  1.120710e+05  1.120710e+05  1.120710e+05  1.120710e+05
mean  -2.367461e+16  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
std    5.331855e+18  2.775570e-17  2.775570e-17  2.775570e-17  2.775570e-17
min   -9.223322e+18  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
25%   -4.661036e+18  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
50%   -3.107321e+16  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
75%    4.581985e+18  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
max    9.223069e+18  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02

             F33-42          F43+          M22-        M23-26        M27-28  \
count  1.120710e+05  1.120710e+05  1.120710e+05  1.120710e+05  1.120710e+05
mean   8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
std    2.775570e-17  2.775570e-17  2.775570e-17  2.775570e-17  2.775570e-17
min    8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
25%    8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
50%    8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
75%    8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02
max    8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02  8.330000e-02

             M29-31        M32-38          M39+
count  1.120710e+05  1.120710e+05  1.120710e+05
mean   8.330000e-02  8.330000e-02  8.330000e-02
std    2.775570e-17  2.775570e-17  2.775570e-17
min    8.330000e-02  8.330000e-02  8.330000e-02
25%    8.330000e-02  8.330000e-02  8.330000e-02
50%    8.330000e-02  8.330000e-02  8.330000e-02
75%    8.330000e-02  8.330000e-02  8.330000e-02
max    8.330000e-02  8.330000e-02  8.330000e-02

In [15]:
print(f'There are {len(data["events"]["device_id"].unique())} unique devices')

There are 60865 unique devices

In [17]:
print(f'There are {len(data["events"])} unique events')

There are 3252950 unique events

In [19]:
print(f'There are {len(data["gender_age_train"]["device_id"].unique())} unique devices in the training data')

There are 74645 unique devices in the training data

First replace the chinese brands with their english names

In [21]:
# Join chinese brand names to their english equivalents
phone_brand_device_model = pd.merge(data["phone_brand_device_model"],
                                    data["chinese_to_english_brand"],
                                    left_on="phone_brand", right_on="chinese_brand", how="left")

# Fill nans for brands already in english
phone_brand_device_model["brand"] =\
    phone_brand_device_model["brand"].where(phone_brand_device_model["brand"].str.isalpha(),
                                                    phone_brand_device_model["phone_brand"].str.lower())

# We will just work with device brand for the time being
device_data = phone_brand_device_model[["device_id", "brand", "device_model"]]
device_data

                  device_id    brand   device_model
0      -8890648629457979026   xiaomi             红米
1       1277779817574759137   xiaomi           MI 2
2       5137427614288105724  samsung      Galaxy S4
3       3669464369358936369    sugar           时尚手机
4      -5019277647504317457  samsung  Galaxy Note 2
...                     ...      ...            ...
187240  7979541072208733273   xiaomi           MI 4
187241  -187404680852357705   xiaomi            红米2
187242 -2718274279595622821   xiaomi           MI 3
187243  3098391762071677791     vivo             X1
187244  7540390258631417003     vivo           Y22L

[187245 rows x 3 columns]

In [32]:
print(f'There are {len(device_data["device_id"].unique())} unique devices in the device data')

There are 186716 unique devices in the device data

In [34]:
# Get rid of duplicates in the device data
device_data_cln = device_data.drop_duplicates()

We'll proceed to join the device brand data to the train data

In [23]:
data["gender_age_train"]["group"].sort_values().unique()

array(['F23-', 'F24-26', 'F27-28', 'F29-32', 'F33-42', 'F43+', 'M22-',
       'M23-26', 'M27-28', 'M29-31', 'M32-38', 'M39+'], dtype=object)

In [35]:
combined_data = data["gender_age_train"]
print(len(combined_data))
combined_data = pd.merge(combined_data, device_data_cln, on="device_id", how="left")
combined_data

74645

                 device_id gender  age   group   brand device_model
0     -8076087639492063270      M   35  M32-38  xiaomi         MI 2
1     -2897161552818060146      M   35  M32-38  xiaomi         MI 2
2     -8260683887967679142      M   35  M32-38  xiaomi         MI 2
3     -4938849341048082022      M   30  M29-31  xiaomi       红米note
4       245133531816851882      M   30  M29-31  xiaomi         MI 3
...                    ...    ...  ...     ...     ...          ...
74641  4682031842235089751      M   30  M29-31  xiaomi         MI 3
74642 -9178703742877135986      M   30  M29-31  xiaomi         MI 3
74643   180946546684162312      M   20    M22-  xiaomi       红米note
74644  1390702386071991851      M   37  M32-38  huawei    Ascend P8
74645    89181010588227347      M   25  M23-26  xiaomi        MI 2S

[74646 rows x 6 columns]

Put together the event data before merging all

In [147]:
# Join app labels to their label categories
app_labels = data["app_labels"]
app_labels = app_labels.merge(data["label_categories"], on="label_id")
app_labels

                     app_id  label_id    category
0       7324884708820027918       251     Finance
1      -4494216993218550286       251     Finance
2       8756705988821000489       251     Finance
3       1061207043315821111       251     Finance
4      -1491198667294647703       251     Finance
...                     ...       ...         ...
459938 -5364349117796323466       985  Word games
459939  6320161160475087425       985  Word games
459940  7641656572760613661       985  Word games
459941 -2037260970074339790       985  Word games
459942  4912967798547629854       985  Word games

[459943 rows x 3 columns]

In [156]:
app_labels["category"].unique()

array(['Finance', 'unknown', 'DS_P2P net loan', 'Securities',
       'Lottery ticket', 'IMF', 'Precious Metals', 'pursue',
       'Science and Technology', 'Customization', 'service',
       'Smart Shopping', 'Personal Effectiveness', 'free', 'vitality',
       'Trendy / cool', 'Relatives', 'comfortable', 'Simple',
       'Debit and credit', 'Crowdfunding financing', 'Custom label',
       'Ping', 'safety Insurance', 'Peace - Search', 'mobile bank',
       'Direct Bank', 'futures', 'Property Industry 1.0', 'Industry tag',
       'Pay', 'Wealth Management', 'Customized 1', '1 free', 'Cozy 1',
       'Services 1', 'Pursuit 1', 'Noble 1', 'Trendy / cool 1',
       'Passion 1', 'Personal Effectiveness 1', 'Total Cost 1',
       'Smart Shopping 1', 'Science and Technology 1', 'Relatives 1',
       '1 vitality', 'Irritation / Fun 1', 'Quality 1', '1 reputation',
       'Nature 1', 'Simple 1', 'Classical 1', 'Property Industry 2.0',
       'Occupational identity', 'College Students',
       'Condition of the vehicles', 'Bank financing', 'Internet banking',
       'stock', 'Insurance', 'other', 'fund', 'Stock Futures', 'Trust',
       'Consumer loans', 'Financial Services', 'fixed income', 'P2P',
       'Direct Banking', 'Crowdfunding', 'A shares', 'Life Insurance',
       'Financial Supermarket', 'exchange rate', 'Financial Information',
       'Commodity Futures', 'Monetary Fund', 'Bond Fund',
       'Real Estate Trust', 'Third party payment', 'Antique collection',
       'Other shares', 'H shares', 'Financial Futures', 'Equity Fund',
       'Trust funds', 'N shares', 'Low risk', 'Low Risk', 'Medium risk',
       'High risk', 'Liquid medium', 'Lower liquidity', 'Low liquidity',
       'High mobility', 'High Flow', 'Low profitability', 'Low income',
       'Moderate profitability', 'Higher income', 'High profitability',
       'And the Church', 'Direct Insurance', 'Exchange',
       'Casual puzzle categories', 'ARPG', 'MMO', 'Cards RPG',
       'The elimination of class', 'read', 'MOBA', 'Pirated content',
       'SLG (strategy)', 'Chess categories', 'Tower Defense',
       'Flight Shooting', 'Online booking class', 'Other Read',
       'Racing (RAC)', 'Parkour avoid class', 'round',
       'Shootout Shooting (STG)', 'Business simulation', 'music',
       'Listening to books category', "Read the operator's", 'Buy class',
       'Sports', 'User Community', 'Vermicelli',
       'Animation aggregate class', 'Class animation community',
       'Hardware Related', 'game', 'literature', 'the film', 'Animation',
       'Tencent', 'Comics Reading Tools', 'Doctors', 'Pregnant baby',
       'Prepare baby', 'Maternal and child population', 'Parenting stage',
       'Families with big baby', 'Families with small babies',
       'Families with babies', 'noble', 'Total Cost', 'natural',
       'quality', 'Cool trendy', 'Reputation', 'Enthusiasm', 'classical',
       'Stimulate fun', 'Property Industry new', 'Low Cost Airlines',
       'High-end business aviation', 'Full Service Airlines',
       'General Aviation', 'Regional Aviation', 'Airline type',
       'aviation', 'Air Travel', 'Airline Alliances',
       'Aeronautical Information Service', 'airport',
       'Aviation Integrated Services', 'Southeast Asia (aviation)',
       'Hong Kong, Macao and Taiwan (aviation)',
       'Europe, the United States and Macao (aviation)',
       'Japan and South Korea (Air)', 'Chinese mainland (Airlines)',
       'Flight area', 'Travel Travel', 'Overseas travel',
       'Domestic travel', 'Tour around', 'Integrated tourism',
       'Purpose of travel', 'travel', 'Free exercise',
       'Travel Information', 'Share Tour', 'Travel preferences',
       'Southeast Asia (Travel)', 'Hong Kong, Macao and Taiwan (Travel)',
       'Europe, the United States and Macao (Travel)',
       'Japan and South Korea (Travel)', 'Destination Region',
       'High-speed rail train reservation',
       'Integrated Air Travel Booking', 'Integrated ticket reservation',
       'Book hotel complex', 'Coach reservations', 'Booking channels',
       'High-end hotel', 'Hotel Chain', 'Non-standard accommodation',
       'Hotel Type', 'Hotels', 'financial', 'Xian Xia', 'effort',
       'navigation', 'Tomb', 'reality show', 'Jin Yong', 'Senki',
       'Journey', 'tribe', 'Ninja', 'Romance', 'Shushan', 'Martial arts',
       'Domestic animation', 'Europe and Fantasy', 'Harem', 'trickery',
       'fashion', 'game-Cutting things', 'game-Finding fault',
       'game-stress reliever', 'game-pet', 'game-Answer', 'game-Fishing',
       'game-Music and Dance', 'game-Puzzle', 'game-Adventure puzzle',
       'game-Parkour', 'game-Racing', 'game-Motorcycle', 'game-Rowing',
       'game-aircraft', 'game-Box', 'game-gem', 'game-Lianliankan',
       'game-Zuma', 'game-Bobble', 'game-Cartoon',
       'game-Role -playing games', 'game-Competitive action',
       'game-Tactics', 'game-card', 'game-Business simulation',
       'game-Horizontal version', 'game-shooting', 'game-3D',
       'game-flight', 'game-tank', 'game-Snipe', 'poker game_doudizhu',
       'chess', 'majiang', 'table game', 'Texas Poker', 'poker', 'Puzzle',
       'Literacy Games', 'Intellectual development game', 'math',
       'checkpoints game', 'Beach landing game', 'old style game',
       'basketball', 'football', 'tennis', 'billards', 'other ball game',
       'Turn based RPG game', 'realtime fighting', 'war chess',
       'business', 'farm', 'pet raising up', 'love raising up', 'puzzel',
       'gambling', '3 kindom game', 'knight game',
       'Cultivation fantasy game', 'Journey to the West game',
       'Outlaws of the Marsh game', 'Chinese Classical Mythology',
       'Western Mythology', '80s Japanese comic', '90s Japanese comic',
       'movie', 'shows', 'millitary and wars', 'science fiction',
       'zombies game', 'World of Warcraft', 'magic', 'dotal-lol',
       'sailing game', 'sports', 'Chinese painting',
       'japanese and korean style', 'japanese comic and animation',
       'US and Europe animation', 'Cute style comic', 'pixel style comic',
       'violence comic', 'US and Europe magic comic',
       'realistic style comic', 'chinese comic', 'online malls',
       'online shopping by group, like groupon',
       'online shopping navigation', 'online shopping, price comparing',
       'Sea Amoy', 'education for babies', 'education outside class',
       'foreign language', 'professional skills', 'art and culture',
       'exams', 'class managemetn', 'children books', 'novels',
       'magazine and journal', 'comics', 'dictionary', 'reading platform',
       'poetry', 'joke', 'Audiobooks', 'science', 'news',
       'Entertainment News', 'Sports News', 'Technology Information',
       'gaming strategy', 'weibo', 'love and marriage', 'community',
       'picture sharing', 'radio', 'video', 'show', 'map',
       'Behalf of the drive', 'Taxi', 'Car', 'flight', 'Bus', 'train',
       'Hotel application', 'tourism product', 'coach transport',
       'Decoration', 'Appliances', 'Furniture', 'household products',
       'Smart Home', 'Smart Appliances', 'lose weight', 'sports and gym',
       'health', 'Medical', 'Health Management', 'Wearable Health', 'IM',
       'pictures photography', 'Man playing favorites',
       'takeaway ordering', 'Astrology Horoscope', 'Reviews', 'Recipes',
       'Express', 'Accounting', 'Car Owners', 'fashion outfit',
       'Integrated Living', 'Jobs', 'Scheduling', 'notes', 'File Editor',
       'business cards', 'Contacts', 'network disk', 'store management',
       'Engineering Drawing', 'Housing Advice', 'KTV', 'Automotive News',
       'Sale of cars', 'A beauty care', 'Intelligent hardware',
       'study abroad', 'RPG game', 'poker and chess',
       'business strategy game', 'game-game type', 'game-Art Style',
       'game-Gem Elimination', 'fighting game', 'raising up game',
       'Guard tower defense game', 'game-Leisure time',
       'Children puzzle game', 'convenience services', 'Beauty Nail',
       'blogs', 'Housekeeping', 'System Tools', 'Utilities',
       'Prepare pregnant pregnancy', 'Maternal and child supplies',
       'Points Activities', 'management', 'Browser',
       'Desktop Enhancements', 'Parenting', 'Buy', 'Rentals', 'Weather',
       'coupon', 'Travel advisory', 'Calendar', 'shopping sharing',
       'Clock', 'WIFI', 'Information', 'Share Travels', 'App Store',
       'Sellers', 'entertainment', 'Academic Information', 'email',
       'Mother', 'phone', 'psychology', 'Business Office', 'Estate',
       'search', 'Make-up application', 'Skin care applications',
       'Traditional securities brokerage', 'P2P net loan',
       'Third-party card management', 'Internet Banking',
       'Consumer Finance', 'Traditional Insurance', 'Heritage Foundation',
       'Internet Securities', 'Bank Credit Card', 'Internet Insurance',
       'library', 'readers', 'Editor', 'reading for fetus', 'mesasge',
       'Card Game', 'strategy game', 'cosplay', 'casual games', 'Games',
       'Puzzles', 'Sports Games', 'action games', 'Educational games',
       'Chess game', 'Music Games', 'Adventure Game', 'Simulators',
       'Racing games', 'Table Games', 'Family Games', 'Dice Game',
       'Word games'], dtype=object)

In [157]:
# Join events to their app events
events = data["events"]
events = events.merge(data["app_events"], on="event_id", how="left")
events

,event_id,device_id,timestamp,longitude,latitude,app_id,is_installed,is_active
0,1,29182687948017175,2016-05-01 00:55:25,121.38,31.24,NaN,NaN,NaN
1,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,5.927333e+18,1.0,1.0
2,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,-5.720079e+18,1.0,0.0
3,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,-1.633888e+18,1.0,0.0
4,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,-6.531843e+17,1.0,1.0
...,...,...,...,...,...,...,...,...
34237916,3252948,7111660304904287709,2016-05-07 23:35:33,121.40,31.18,4.348660e+18,1.0,1.0
34237917,3252948,7111660304904287709,2016-05-07 23:35:33,121.40,31.18,-9.957269e+17,1.0,1.0
34237918,3252948,7111660304904287709,2016-05-07 23:35:33,121.40,31.18,2.306067e+18,1.0,1.0
34237919,3252949,2786044170600788970,2016-05-07 23:36:03,111.19,31.29,NaN,NaN,NaN
34237920,3252950,3315513013457872370,2016-05-07 23:20:08,112.99,28.23,NaN,NaN,NaN

In [158]:
# Use app events to join events to the app labels
events = events.merge(app_labels, on="app_id", how="left")
events.sort_values(by="category")

,event_id,device_id,timestamp,longitude,latitude,app_id,is_installed,is_active,label_id,category
20895255,1916674,755772167887724190,2016-05-02 22:27:56,0.00,0.00,-4.986197e+15,1.0,0.0,714.0,1 free
5683103,519585,-423363963231382188,2016-05-06 15:26:29,123.47,41.80,-4.986197e+15,1.0,0.0,714.0,1 free
1444833,129409,6139419753828940858,2016-05-02 11:21:14,0.00,0.00,5.322487e+16,1.0,0.0,714.0,1 free
5682615,519541,-3459418399482569870,2016-05-05 15:35:17,0.00,0.00,5.322487e+16,1.0,1.0,714.0,1 free
20445321,1873865,3517190067519579513,2016-05-04 00:40:30,117.02,32.64,-8.447991e+18,1.0,0.0,714.0,1 free
...,...,...,...,...,...,...,...,...,...,...
35455129,3252948,7111660304904287709,2016-05-07 23:35:33,121.40,31.18,4.348660e+18,1.0,1.0,NaN,NaN
35455130,3252948,7111660304904287709,2016-05-07 23:35:33,121.40,31.18,-9.957269e+17,1.0,1.0,NaN,NaN
35455131,3252948,7111660304904287709,2016-05-07 23:35:33,121.40,31.18,2.306067e+18,1.0,1.0,NaN,NaN
35455132,3252949,2786044170600788970,2016-05-07 23:36:03,111.19,31.29,NaN,NaN,NaN,NaN,NaN
35455133,3252950,3315513013457872370,2016-05-07 23:20:08,112.99,28.23,NaN,NaN,NaN,NaN,NaN